/* body,
html {
	height: 100%;
	margin: 0;
	font-family: "Roboto", sans-serif;
} */

* {
  overflow: hidden;
}

.map-container {
  height: 91vh;
  position: relative;
  overflow: none;
}

#map {
  width: 100%;
  height: 100%;
}

#zoom-controls {
  position: absolute;
  top: 10px;
  right: 10px;
}

#zoom-controls button {
  display: block;
  margin: 1px;
  padding: 0;
  color: #fff;
  font-size: 1.14em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  height: 1.375em;
  width: 1.375em;
  line-height: 0.4em;
  background-color: rgba(0, 60, 136, 0.5);
  border: none;
  border-radius: 2px;
}

#zoom-controls button:hover {
  background-color: rgba(0, 60, 136, 0.7);
}

.ol-scale-line {
  background: rgba(0, 60, 136, 0.3);
  border-radius: 4px;
  bottom: 8px;
  left: 8px;
  padding: 2px;
  position: absolute;
}

.ol-scale-line-inner {
  border: 1px solid #eee;
  border-top: none;
  color: #eee;
  font-size: 10px;
  text-align: center;
  margin: 1px;
  will-change: contents, width;
  transition: all 0.25s;
}

.custom-fullscreen-btn {
  position: absolute;
  left: 10px;
  top: 105px;
  transform: translateY(-50%);
  background-color: rgba(0, 117, 50, 0.6);
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}

.custom-fullscreen-btn:hover {
  background-color: rgba(0, 117, 50, 0.8);
}

.custom-fullscreen-btn i {
  font-size: 20px;
  color: #ffffff;
}

/* Ensure the button is visible in fullscreen mode */
.map:-webkit-full-screen .custom-fullscreen-btn,
.map:-moz-full-screen .custom-fullscreen-btn,
.map:-ms-fullscreen .custom-fullscreen-btn,
.map:fullscreen .custom-fullscreen-btn {
  display: block;
}

#layer-switcher {
  top: 10px;
  left: 10px;
}

#layer-select {
  position: absolute;
  top: 40px;
  left: 10px;
}

#filter {
  position: absolute;
  top: 90px;
  left: 10px;
  font-size: 1em;
  padding: 6px;
  background-color: rgba(0, 117, 50, 0.6);
  border: none;
  border-radius: 4px;
}

#filter-btn {
  font-size: 1em;
  padding: 5px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  width: fit-content;
}

#filter:hover {
  background-color: rgba(0, 117, 50, 0.8);
}

#layers-modal-btn {
  font-size: 1em;
  padding: 5px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  width: fit-content;
}

#layer-switcher-btn {
  font-size: 1em;
  padding: 5px;
  background-color: rgba(0, 117, 50, 0.6);
  border: none;
  border-radius: 4px;
  width: fit-content;
  color: #fff;
  font-weight: 400;
  display: none;
}

#layer-select {
  font-size: 1em;
  padding: 5px;
  background-color: rgba(0, 117, 50, 0.6);
  border: none;
  border-radius: 4px;
}

#layer-select:hover {
  background-color: rgba(0, 117, 50, 0.8);
}

#layers-modal-btn {
  color: #ffffff;
}

.card {
  cursor: pointer;
  transition: transform 0.2s;
}

/* .card:hover {
	transform: scale(1.05);
} */

.card-img-top {
  height: 40px;
  object-fit: cover;
}

#filterLayerModal {
  position: fixed;
  top: 84px;
  /* left: 58px; */
  /* width: 250px; */
  color: #1b5e20;
}
#filterLayerModal .modal-content {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffffab;
}
.map-set{
  position: absolute;
  left: 60;
}
#layerSelectModal {
  position: fixed;
  top: 84px;
  left: 0;
  width: 100%;
}

#layerSelectModal .modal-header {
  height: fit-content;
  padding: 0.4rem 1rem;
  font-size: 0.9rem;
}

#layerSelectModal .modal-content {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffffab;
}

#layerSelectModal .accordion-button {
  background-color: #e6f4ea;
  color: #2e7d32;
  font-weight: 400;
  font-size: small;
}

#layerSelectModal .accordion-button:not(.collapsed) {
  background-color: #c8e6c9;
}

#layerSelectModal .accordion-button:focus {
  box-shadow: none;
  border-color: #a5d6a7;
}

#layerSelectModal .form-check {
  margin-bottom: 0.5rem;
  font-size: small;
}

#layerSelectModal .form-check-input:checked {
  background-color: #4caf50;
  border-color: #4caf50;
}

#layerSelectModal .form-check-label {
  color: #1b5e20;
}

.card-title {
  font-size: 12px;
}

.drawer {
  position: fixed;
  top: 0;
  right: -500px;
  width: 500px;
  height: 100%;
  background-color: #f8f9fa;
  transition: right 0.3s ease-in-out;
  z-index: 1050;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.drawer.open {
  right: 0;
}

.drawer-content {
  padding: 20px;
}

.logo-ico {
  width: 45px;
  padding-left: 5px;
  padding-right: 5px;
}

.logo-text {
  font-size: 18px;
  color: #000;
  font-weight: 400;
}

.top-head-image-icon {
  display: flex;
  gap: 2px;
  align-items: center;
}

.text-gray-600 {
  color: #858796 !important;
}

.top-head-image-icon {
  display: flex;
  gap: 2px;
  align-items: center;
}

.image-hed-top {
  width: 40px !important;
}
img {
  vertical-align: middle;
  border-style: none;
}

.topbar {
  height: 4.375rem;
}
.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}
.shadow {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}
.bg-white {
  background-color: #fff !important;
}
.navbar-expand {
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.navbar {
  position: relative;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.img-box-logo-head {
  display: flex;
  align-items: center;
}

.top-head-image-icon span {
  padding-top: 2px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  color: #858796;
}

.topbar .topbar-divider {
  width: 0;
  border-right: 1px solid #e3e6f0;
  height: calc(4.375rem - 2rem);
  margin: auto 1rem;
}

.modal-title {
  font-size: 14px !important;
}

.no-underline {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.pending {
  background-color: #e02d1b !important;
}

/* loader css start */

.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: rgb(0, 255, 85);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.loader-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.hideDiv {
  display: none;
}

/* loader css end */

/* custom css */

/* General Card Styling */
.card {
  border: 1px solid #28a745;
  border-radius: 10px;
}

.card-header {
  background-color: #265d49;
  /* background-color: rgba(0, 117, 50, 0.6); */
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-header h6 {
  margin: 0;
  font-weight: bold;
  color: #fff;
}

/* Table Styling */
.table-green {
  /* border: 1px solid #28a745; */
  border-radius: 10px;
  /* overflow: hidden; */
}

.thead-primary {
  background: #218838;
}
/* .table-green th,
.table-green td {
    border: 1px solid #28a745;
} */

/* .table-green{
    min-height: 300px !important;
} */
.table-green thead th {
  background-color: #598433;
  color: #fff;
  /* text-align: center; */
  font-size: 14px;
}

.table-green tbody tr:nth-child(odd) {
  background-color: #ededed;
}

.table-green tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-green tbody tr:hover {
  background-color: #d4edda;
}

.table-green td,
.table-green th {
  padding: 12px;
  /* text-align: center; */
  vertical-align: middle;
}

.dropdown-toggle,
.fa-cog {
  color: #0f6848;
}

/* Button Styling */
.btn-info {
  background-color: #17a2b8;
  border: none;
}

.btn-info:hover {
  background-color: #138496;
}

.btn-primary {
  background-color: #598433;
  border: none;
}

.btn-primary:hover {
  background-color: #218838;
}

/* Responsive Table */
.table-responsive {
  margin-top: 20px;
  overflow-x: auto;
}

.label {
  font-size: 12px;
  color: #218838;
}

.badge-box-back {
  background-color: #cfedd9;
  border-radius: 10px;
  color: #000;
  font-size: 0.875em;
  font-weight: 700;
  /* line-height: 1; */
}
/* .badge-box {
    display: inline-block;
    padding: 0.25em 0.5em;
    font-size: 0.875em;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.375rem;
    background-color: #cfedd9;
    margin-left: 0.2rem;
} */

.tag-header {
  background-color: #13855c;
  color: #fff;
  padding: 2%;
  border-radius: 10px;
  font-size: 14px;
}

.tag-header-list {
  background-color: #7a807e;
  color: #fff;
  padding: 1%;
  border-radius: 10px;
  font-size: 18px;
}

.pre-plantation-fieldset {
  border: 1px solid #ccc; /* Add border */
  padding: 15px; /* Add padding inside the fieldset */
  margin-bottom: 20px; /* Add space below the fieldset */
  border-radius: 5px; /* Rounded corners */
}

.logo-text {
  font-size: 18px;
  color: #000;
  font-weight: 600;
}

.logo-ico {
  width: 45px;
  padding-left: 5px;
  padding-right: 5px;
}
.top-head-image-icon {
  display: flex;
  gap: 2px;
  align-items: center;
}
.top-head-image-icon span {
  padding-top: 2px;
  font-size: 12px;
  font-weight: 600;
}

.image-hed-top {
  width: 40px !important;
}

/* .fas {
        width: 20px;
    } */

.fa-map-marker-alt,
.fa-info-circle {
  height: 20px !important;
  width: 20px !important;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  padding: 2px;
  text-align: center;
  border: 1px solid #ddd;
}

.custom-table thead th {
  background-color: #f8f9fa;
  color: #333;
  font-weight: bold;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.custom-table tbody tr:hover {
  background-color: #e9ecef;
}

.badge-box-map-view {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
}

.badge-box-map-view.quarterly {
  background-color: #17a2b8;
}

.badge-box-map-view.completed {
  background-color: #28a745;
}

.badge-box-map-view.completed.bg-success {
  background-color: #28a745;
}

.custom-table .bg-success {
  color: #fff;
  background-color: #28a745;
}

.card-container {
  height: 560px;
  overflow-y: auto;
}

.bg-primary-set {
  background-color: #265d49;
  color: #fff;
  border-radius: 8px;
  padding: 2.5%;
}

.loader-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.hideDiv {
  display: none;
}



/*new css class*/



#layerSelectDiv {
  display: none;
  position: fixed;
  top: 120px;
  left: 210px;
  transform: translateX(-50%);
  width: 70%;
  max-width: 300px;
font-size: 12px;
  background: rgba(0, 117, 50, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding: 20px;
  border-radius: 8px;
  color: #fff;

}
#layerSelectDiv .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

.bodymap{
  min-height: 100px;
  max-height: 480px;
  overflow-y: auto;
}
 .btn-close {
  color: #fff!important;
  --bs-btn-close-color: #fff!important;
}
.accordion-button{
  font-size: 12px;
  padding:8px !important;
}

.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: #82d4b4;
  box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}


.form-check-input {
  --bs-form-check-bg: #82d4b4 !important;
}


*::-webkit-scrollbar-track
 {
   /* border: 1px solid #f3e7fa; */
   background-color: rgba(255, 255, 255, 0.2)!important;
   /* border-radius: 5%; */
 }
 
*::-webkit-scrollbar
{
	width: 5px;
  height: 8px;
  border-radius: 5%;
  background-color: #5eaf8f!important;
}

*::-webkit-scrollbar-thumb
{
  background-color: #5eaf8f!important;
  /* border: 1px solid #d3bbe2; */
  /* border-left: 1px solid #d3bbe2 ;
  border-right: 1px solid #d3bbe2 ; */
  border-radius: 5%;
}


.swip-set{
  position: absolute;
 display: flex;
  bottom: 20;
  right: 2;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.form-range{
  width: 30% !important;
}

.map-title{
  text-align: center;
  padding-top: 4px;
  font-size: 8px !important;
}